Démos/DTD/Demo-DTDNoStandAlone.dtd

<!ELEMENT Demonstration (Communications)>
<!ELEMENT Communications (Communication*)>
<!ELEMENT Communication ((Subject,Message)|(Subject,Memo))>
<!ATTLIST Communication sendedDate CDATA #REQUIRED>
<!ATTLIST Communication multipleReceiver (true|false) #IMPLIED>
<!ATTLIST Communication direction (receive|send|unknow) #REQUIRED>
<!ATTLIST Communication id ID #REQUIRED>
<!ATTLIST Communication answer IDREF #IMPLIED>
<!ELEMENT Subject (#PCDATA)>
<!ELEMENT Message (#PCDATA)>
<!ELEMENT Memo EMPTY>